.App {
  text-align: center;
  padding: 8px 0px;
  background-color: #05445E;
  /* height: fit-content; */
  box-sizing: border-box;
  margin: 0%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.edit-area{
  width: 100%;
  margin: auto;


}
.canvas-container{
  width: 100% !important;
  /* height: 600px !important; */
  /* margin: auto !important; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttons{
  width: 100%;
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: 
  #189AB4;
  margin: 40px 0px 20px 0px;

}
button{
  margin: 12px 8px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}
button:hover{
  cursor: pointer;
  background-color: #114c65;
  color: white;
}
label{
  margin-left: 8px;
}
.buttons label input{
  width: 100px;
 
}
h1,h3,h5{
  color: white;
  margin: 12px;
}
a{
  text-decoration: none;
  color: #189AB4;
}
